html {
  scroll-behavior: smooth;
}
body {
  background: black;
  // overflow-x: hidden;
}
body > header {
  /* Section accueil */
  position: relative;
  background-image: url('../assets/noise.gif');
  height: calc(100vh - 60px);
  h1 {
    /* Titre principal en logo */
    margin: 0;
  }
  h2 {
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    opacity: 0;
    transition: opacity ease-in 1s;
  }
  #logo,
  #logo-text {
    /* Positionnement des logos */
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity ease-in 1s;
    opacity: 0;
  }
  #logo-text {
    /* Le logo lettré en svg */
    width: 90%;
  }
  div {
    /* Le conteneur des éléments de la section */
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
}
nav {
  /* Le menu de navigation */
  z-index: 3;
  background-image: url('../assets/noise.gif');
  margin: 0;
  padding: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: position 0.3s;
  a {
    /* Les liens du menu de navigation */
    padding: 19px 0 16px;
    width: 140px;
    margin: 0 50px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    &::first-letter {
      /* La première lettre est rapetissée pour régulariser la hauteur des majuscules */
      font-size: 1.1rem;
      letter-spacing: 2px;
    }
    &:hover,
    &.active {
      /* Effet de menu survol et actif */
      border-bottom: 4px solid white;
      border-bottom-style: inset;
      margin-top: -4px;
      padding: 24px 0 13px;
    }
  }
  #nav-logo {
    /* Logo circulaire au centre du menu, renvoie à la section accueil */
    margin: 10px 60px 0;
    transition: 0.3s;
    width: 68px;
    &:hover {
      /* Effet de survol */
      border: none;
    }
    img {
      height: 80px;
    }
  }
}
nav.fixed {
  /* Styles à appliquer au menu lorsqu'il est fixé */
  background-color: rgba(0, 0, 0, 0.5);
  background-image: none;
  position: fixed;
  top: 0;
  width: 100%;
  #nav-logo {
    /* Décaller le logo vers le bas */
    margin-top: 30px;
  }
}
nav.fixed ~ section:first-of-type {
  /* Ajout d'une marge et ajustement de la hauteur lorsque le menu est fixé */
  padding-top: 60px;
  margin-top: 60px;
  height: calc(100vh - 60px);
}
section {
  /* Les diverses sections de la page */
  font-family: 'Open Sans', sans-serif;
  height: calc(100vh - 60px);
  width: 1200px;
  margin: 0 auto;
  color: white;
  padding-top: 60px;
  overflow: hidden;
  a,
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Merriweather', serif;
  }
  h2,
  h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }
  a {
    text-decoration: underline;
    color: white;
    &:hover {
      color: gray;
    }
  }
}

/* Section nouveautés */
section:nth-of-type(1) {
  h2 {
    display: block;
  }
  & > div {
    /* bloc qui contient les articles */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    article {
      width: 500px;
      margin: 0 50px;
      font-size: 0.9rem;
      .contenu {
        p {
          /* Paragraphe du header */
          text-indent: 1.5em;
          line-height: 1.25;
          text-align: justify;
        }
        img {
          width: 150px;
          display: block;
          margin: 20px auto;
          border: 3px solid rgb(71, 71, 71);
        }
        overflow-x: hidden;
        table {
          /* Tableau de la section main de l'article */
          text-align: center;
          width: 100%;
          border-collapse: collapse;
          tr {
            border-bottom: 1px solid rgb(25, 25, 25);
            &:first-of-type {
              &:hover {
                background: none;
                cursor: default;
              }
            }
            &:hover {
              background: rgb(25, 25, 25);
              cursor: pointer;
            }
            th {
              font-size: 0.9rem;
              text-transform: uppercase;
              font-weight: 400;
              letter-spacing: 1px;
              span.nodisplay {
                display: none;
              }
            }
            th,
            td {
              color: rgb(175, 175, 175);
              padding: 10px;
            }
            th:nth-of-type(2),
            td:nth-of-type(2) {
              text-align: left;
            }
            td:nth-of-type(2) {
              color: white;
            }
          }
        }
        #carousel {
          width: 1500px;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          justify-content: left;
          transform: translateX(0);
          transition: transform 0.6s ease-in-out;
          .slide {
            width: 100%;
            flex-direction: column;
            iframe {
              width: 100%;
              margin: 0 auto;
              border: none;
            }
          }
          &.slide-2 {
            transform: translateX(-500px);
          }
          &.slide-3 {
            transform: translateX(-1000px);
          }
        }
        #carousel-controls {
          display: flex;
          flex-direction: row;
          justify-content: center;
          span {
            display: block;
            width: 10px;
            height: 10px;
            margin: 1px 3px 0;
            border-radius: 10px;
            border: 1px solid rgb(97, 97, 97);
            cursor: pointer;
            transition: background 0.2s;
            &:hover {
              /* lorsque le bouton est survollé */
              background: gray;
            }
            &.active {
              /* lorsque le bouton est actif */
              background: rgb(175, 174, 174);
              width: 12px;
              height: 12px;
              margin: 0 2px;
            }
          }
        }
      }
      footer {
        p {
          text-indent: 0;
          font-size: 0.9rem;
          color: gray;
        }
      }
      &:nth-of-type(2) {
        main {
          flex-direction: column;
        }
      }
    }
  }
}

/* Section marchandise */
section:nth-of-type(2) {
  .wrapper {
    /* div pour créer un espacement vertical égal en haut et en bas de la grille de marchandise */
    height: calc(100vh - 240px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .container {
      /* Conteneur grid */
      display: grid;
      grid-template-columns: auto 17% 17% auto;
      grid-template-rows: 45% auto;
      gap: 20px;
      grid-template-areas:
        'mantalltee girlwhiteshirt girlwhiteshirt mantshirt'
        'mantalltee girlblackshirt girlcoat manhoodie';
      place-items: stretch;
      place-content: stretch;
      height: 530px;
      width: 100%;
      .flip-card {
        /* les vignettes d'image vont se retourner au survol, style pour le conteneur de vignette */
        background-color: transparent;
        perspective: 1000px;
        .flip-card-inner {
          /* Le div qui va contenir le front et le back de la vignette, on doit lui mettre une position relative */
          position: relative;
          transform: rotateY(0);
          width: 100%;
          height: 100%;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          .flip-card-front,
          .flip-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
          }
          .flip-card-front {
            /* l'avant de la vignette, où on affiche l'image */
            background-position: center;
            background-size: 100% auto;
          }
          .flip-card-back {
            /* la partie arrière des cartes */
            transform: rotateY(180deg);
            background-color: white;
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
              font-size: 1.5rem;
              text-align: center;
            }
            span.price {
              /* Style du prix */
              font-size: 2.5rem;
              margin-bottom: 25px;
              font-weight: bold;
            }
            button {
              /* Le bouton commander */
              border-radius: 0;
              border: none;
              padding: 10px;
              background: black;
              color: white;
              font-family: 'Merriweather', serif;
              cursor: pointer;
              transition: background 0.3s;
              &:hover {
                /* Effets au survol */
                background: rgb(37, 37, 37);
              }
            }
          }
        }
        &.mantalltee {
          /* L'homme avec un long t-shirt */
          grid-area: mantalltee;
          .flip-card-inner .flip-card-front {
            background-image: url('../assets/man_longshirt_front.jpg');
          }
        }
        &.mantshirt {
          /* L'homme avec un t-shirt */
          grid-area: mantshirt;
          .flip-card-inner .flip-card-front {
            background-image: url('../assets/man_shirt.jpg');
          }
        }
        &.hoodie {
          /* L'homme avec un hoodie */
          grid-area: manhoodie;
          .flip-card-inner .flip-card-front {
            background-image: url('../assets/man_hoodie_back.jpg');
          }
        }
        &.girlwhiteshirt {
          /* La femme avec un chandail blanc */
          grid-area: girlwhiteshirt;
          .flip-card-inner .flip-card-front {
            background-image: url('../assets/girl_whiteshirt_front.jpg');
          }
        }
        &.girlblackshirt {
          /* La femme avec un chandail noir */
          grid-area: girlblackshirt;
          .flip-card-inner .flip-card-front {
            background-image: url('../assets/girl_shirt_front.jpg');
          }
        }
        &.coat {
          /* La femme avec un manteau */
          grid-area: girlcoat;
          .flip-card-inner .flip-card-front {
            background-image: url('../assets/girl_coat_back.jpg');
          }
        }
        &:hover .flip-card-inner {
          /* on applique une rotation à la carte lorsque l'utilisateur la survolle */
          transform: rotateY(180deg);
        }
      }
    }
  }
}

/* Section blogue */
section:nth-of-type(3) {
  h3 {
    text-align: left;
  }
  .articles {
    // conteneur des articles
    height: calc(100vh - 308px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    article {
      // fiches résumé d'articles
      background-color: white;
      color: black;
      width: 100%;
      height: 460px;
      &:nth-of-type(2) {
        /* marges pour le deuxième article (centre) */
        margin: 0 30px;
      }

      header {
        height: 39%;
        overflow: hidden;
        position: relative;
        h4 {
          text-align: center;
          letter-spacing: 2px;
          background: rgba(0, 0, 0, 0.6);
          font-size: 1.2rem;
          color: white;
          position: absolute;
          display: block;
          width: 100%;
          padding: 25px 0;
          margin: 0;
          bottom: 0;
        }
        img {
          width: 100%;
        }
      }
      .contenu {
        padding: 10px 15px;
        height: 39%;
        text-align: justify;
        img {
          /* vignette auteur */
          width: 50px;
          border-radius: 50%;
          float: left;
          margin-right: 10px;
        }
        p {
          &:nth-of-type(1) {
            /* paragraphe nom de l'auteur */
            margin: 6px 0 0;
            font-family: 'Merriweather', serif;
          }
          &:nth-of-type(2) {
            /* paragraphe date */
            margin: 0 0 20px;
            color: rgb(60, 60, 60);
            text-transform: uppercase;
            font-size: 0.9rem;
          }
          &:nth-of-type(3) {
            text-indent: 1.5em;
            line-height: 1.5;
          }
          a {
            color: black;
            text-decoration: underline;
            &:hover {
              color: rgb(60, 60, 60);
            }
          }
        }
      }
      footer {
        text-align: center;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
          background-color: black;
          text-decoration: none;
          padding: 10px;
          transition: background 0.3s;
          &:hover {
            color: white;
            background-color: rgb(37, 37, 37);
          }
        }
      }
    }
  }
}

/* Section contact */
section:nth-of-type(4) {
  & > input[type='radio'] {
    /* le input de type radio */
    display: none;
    &:checked + label {
      background-color: rgb(0, 117, 255) !important;
      color: white;
    }
  }
  & > input[type='radio'] + label {
    /* le label du input de type radio */
    background-color: white;
    color: black;
    padding: 5px;
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    margin-right: 10px;
    user-select: none;
    cursor: pointer;
    &:hover {
      /* effet de survol */
      background-color: rgb(230, 230, 230);
    }
  }
  input#message:checked ~ .bloc-contact {
    /* lorsque l'option message est sélectionnée */
    transform: translateX(0);
  }
  input#booking:checked ~ .bloc-contact {
    /* lorsque l'option booking est sélectionnée */
    transform: translateX(-33.33%);
  }
  input#apropos:checked ~ .bloc-contact {
    /* lorsque l'option à propos est sélectionnée */
    transform: translateX(-66.66%);
  }
  .bloc-contact {
    /* le bloc qui contient les 3 sections du formulaire de contact */
    margin-top: 15px;
    width: 300%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    form {
      h4 {
        margin-bottom: 5px;
      }
      div.question {
        margin: 5px 0;
        position: relative;
      }
      input {
        display: block;
        border: none;
        border-bottom: 1px solid gray;
        background: none;
        color: white;
        &:focus {
          outline: none;
        }
        &[type='date'] {
          &::-webkit-calendar-picker-indicator {
            /* pour mettre le calendrier en blanc */
            filter: invert(1);
          }
        }
        &[type='radio'] {
          /* afficher les input radio sur la même ligne */
          display: inline-block;
          margin-right: 5px;
        }
        &[type='submit'],
        &[type='reset'] {
          color: black;
          display: inline;
          background: white;
          padding: 10px;
          margin: 20px 10px 0 0;
          border-radius: 3px;
          cursor: pointer;
          transition: background 0.3s;
          &:hover {
            background: rgb(175, 174, 174);
          }
        }
      }
      textarea {
        display: block;
        background: none;
        border: none;
        border-bottom: 1px solid gray;
        width: 60%;
        color: white;
        &:focus {
          outline: none;
        }
      }
      select {
        display: block;
        background-color: black;
        color: white;
        padding: 5px;
        margin: 3px 0;
        border-radius: 5px;
        &:focus {
          outline: none;
        }
      }
      option {
        color: white;
      }
      label {
        color: gray;
        i {
          margin-right: 5px;
        }
      }
      input#booking-autre:checked ~ label[for='booking-venue-other'] {
        display: inline;
      }
      input#booking-autre:checked ~ input#booking-venue-other {
        display: block;
      }
      input#booking-venue-other,
      label[for='booking-venue-other'] {
        display: none;
      }
    }
    form.message,
    form.booking,
    div.apropos {
      /* les sections du bloc contact */
      width: calc(100% / 3);
      h3 {
        text-align: left;
      }
    }
    form.booking {
      .row {
        display: flex;
        flex-direction: row;
        .col {
          display: flex;
          flex-direction: column;
          margin-right: 5%;
          width: calc(85% / 3);
          &:last-of-type {
            /* pas de marge à droite pour le dernier */
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  /* Responsiveness: lorsque la largeur du viewport ne dépasse pas 1200px */
  section {
    width: 90vw;
    margin: 0 5vw;
  }
}

@media screen and (max-width: 980px) {
  /* Responsiveness: lorsque la largeur du viewport ne dépasse pas 980px */
  nav {
    a {
      margin: 0 30px;
    }
    .nav-logo {
      margin: 0 35px;
    }
  }
}
