@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  background: black;
}

body > header {
  /* Section accueil */
  position: relative;
  background-image: url("../assets/noise.gif");
  height: calc(100vh - 60px);
}

body > header h1 {
  /* Titre principal en logo */
  margin: 0;
}

body > header h2 {
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-transition: opacity ease-in 1s;
  transition: opacity ease-in 1s;
}

body > header #logo,
body > header #logo-text {
  /* Positionnement des logos */
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity ease-in 1s;
  transition: opacity ease-in 1s;
  opacity: 0;
}

body > header #logo-text {
  /* Le logo lettré en svg */
  width: 90%;
}

body > header div {
  /* Le conteneur des éléments de la section */
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

nav {
  /* Le menu de navigation */
  z-index: 3;
  background-image: url("../assets/noise.gif");
  margin: 0;
  padding: 0;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: position 0.3s;
  transition: position 0.3s;
}

nav a {
  /* Les liens du menu de navigation */
  padding: 19px 0 16px;
  width: 140px;
  margin: 0 50px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
}

nav a::first-letter {
  /* La première lettre est rapetissée pour régulariser la hauteur des majuscules */
  font-size: 1.1rem;
  letter-spacing: 2px;
}

nav a:hover, nav a.active {
  /* Effet de menu survol et actif */
  border-bottom: 4px solid white;
  border-bottom-style: inset;
  margin-top: -4px;
  padding: 24px 0 13px;
}

nav #nav-logo {
  /* Logo circulaire au centre du menu, renvoie à la section accueil */
  margin: 10px 60px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 68px;
}

nav #nav-logo:hover {
  /* Effet de survol */
  border: none;
}

nav #nav-logo img {
  height: 80px;
}

nav.fixed {
  /* Styles à appliquer au menu lorsqu'il est fixé */
  background-color: rgba(0, 0, 0, 0.5);
  background-image: none;
  position: fixed;
  top: 0;
  width: 100%;
}

nav.fixed #nav-logo {
  /* Décaller le logo vers le bas */
  margin-top: 30px;
}

nav.fixed ~ section:first-of-type {
  /* Ajout d'une marge et ajustement de la hauteur lorsque le menu est fixé */
  padding-top: 60px;
  margin-top: 60px;
  height: calc(100vh - 60px);
}

section {
  /* Les diverses sections de la page */
  font-family: 'Open Sans', sans-serif;
  height: calc(100vh - 60px);
  width: 1200px;
  margin: 0 auto;
  color: white;
  padding-top: 60px;
  overflow: hidden;
}

section a,
section h1,
section h2,
section h3,
section h4 {
  font-family: 'Merriweather', serif;
}

section h2,
section h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}

section h2 {
  font-size: 3rem;
}

section h3 {
  font-size: 2rem;
}

section h4 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

section a {
  text-decoration: underline;
  color: white;
}

section a:hover {
  color: gray;
}

/* Section nouveautés */
section:nth-of-type(1) h2 {
  display: block;
}

section:nth-of-type(1) > div {
  /* bloc qui contient les articles */
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section:nth-of-type(1) > div article {
  width: 500px;
  margin: 0 50px;
  font-size: 0.9rem;
}

section:nth-of-type(1) > div article .contenu {
  overflow-x: hidden;
}

section:nth-of-type(1) > div article .contenu p {
  /* Paragraphe du header */
  text-indent: 1.5em;
  line-height: 1.25;
  text-align: justify;
}

section:nth-of-type(1) > div article .contenu img {
  width: 150px;
  display: block;
  margin: 20px auto;
  border: 3px solid #474747;
}

section:nth-of-type(1) > div article .contenu table {
  /* Tableau de la section main de l'article */
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

section:nth-of-type(1) > div article .contenu table tr {
  border-bottom: 1px solid #191919;
}

section:nth-of-type(1) > div article .contenu table tr:first-of-type:hover {
  background: none;
  cursor: default;
}

section:nth-of-type(1) > div article .contenu table tr:hover {
  background: #191919;
  cursor: pointer;
}

section:nth-of-type(1) > div article .contenu table tr th {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

section:nth-of-type(1) > div article .contenu table tr th span.nodisplay {
  display: none;
}

section:nth-of-type(1) > div article .contenu table tr th,
section:nth-of-type(1) > div article .contenu table tr td {
  color: #afafaf;
  padding: 10px;
}

section:nth-of-type(1) > div article .contenu table tr th:nth-of-type(2),
section:nth-of-type(1) > div article .contenu table tr td:nth-of-type(2) {
  text-align: left;
}

section:nth-of-type(1) > div article .contenu table tr td:nth-of-type(2) {
  color: white;
}

section:nth-of-type(1) > div article .contenu #carousel {
  width: 1500px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

section:nth-of-type(1) > div article .contenu #carousel .slide {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section:nth-of-type(1) > div article .contenu #carousel .slide iframe {
  width: 100%;
  margin: 0 auto;
  border: none;
}

section:nth-of-type(1) > div article .contenu #carousel.slide-2 {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
}

section:nth-of-type(1) > div article .contenu #carousel.slide-3 {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

section:nth-of-type(1) > div article .contenu #carousel-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section:nth-of-type(1) > div article .contenu #carousel-controls span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 1px 3px 0;
  border-radius: 10px;
  border: 1px solid #616161;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

section:nth-of-type(1) > div article .contenu #carousel-controls span:hover {
  /* lorsque le bouton est survollé */
  background: gray;
}

section:nth-of-type(1) > div article .contenu #carousel-controls span.active {
  /* lorsque le bouton est actif */
  background: #afaeae;
  width: 12px;
  height: 12px;
  margin: 0 2px;
}

section:nth-of-type(1) > div article footer p {
  text-indent: 0;
  font-size: 0.9rem;
  color: gray;
}

section:nth-of-type(1) > div article:nth-of-type(2) main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Section marchandise */
section:nth-of-type(2) .wrapper {
  /* div pour créer un espacement vertical égal en haut et en bas de la grille de marchandise */
  height: calc(100vh - 240px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section:nth-of-type(2) .wrapper .container {
  /* Conteneur grid */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 17% 17% auto;
      grid-template-columns: auto 17% 17% auto;
  -ms-grid-rows: 45% auto;
      grid-template-rows: 45% auto;
  gap: 20px;
      grid-template-areas: 'mantalltee girlwhiteshirt girlwhiteshirt mantshirt' 'mantalltee girlblackshirt girlcoat manhoodie';
  place-items: stretch;
  place-content: stretch;
  height: 530px;
  width: 100%;
}

section:nth-of-type(2) .wrapper .container .flip-card {
  /* les vignettes d'image vont se retourner au survol, style pour le conteneur de vignette */
  background-color: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

section:nth-of-type(2) .wrapper .container .flip-card .flip-card-inner {
  /* Le div qui va contenir le front et le back de la vignette, on doit lui mettre une position relative */
  position: relative;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

section:nth-of-type(2) .wrapper .container .flip-card .flip-card-inner .flip-card-front,
section:nth-of-type(2) .wrapper .container .flip-card .flip-card-inner .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

section:nth-of-type(2) .wrapper .container .flip-card .flip-card-inner .flip-card-front {
  /* l'avant de la vignette, où on affiche l'image */
  background-position: center;
  background-size: 100% auto;
}

section:nth-of-type(2) .wrapper .container .flip-card .flip-card-inner .flip-card-back {
  /* la partie arrière des cartes */
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section:nth-of-type(2) .wrapper .container .flip-card .flip-card-inner .flip-card-back h3 {
  font-size: 1.5rem;
  text-align: center;
}

section:nth-of-type(2) .wrapper .container .flip-card .flip-card-inner .flip-card-back span.price {
  /* Style du prix */
  font-size: 2.5rem;
  margin-bottom: 25px;
  font-weight: bold;
}

section:nth-of-type(2) .wrapper .container .flip-card .flip-card-inner .flip-card-back button {
  /* Le bouton commander */
  border-radius: 0;
  border: none;
  padding: 10px;
  background: black;
  color: white;
  font-family: 'Merriweather', serif;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

section:nth-of-type(2) .wrapper .container .flip-card .flip-card-inner .flip-card-back button:hover {
  /* Effets au survol */
  background: #252525;
}

section:nth-of-type(2) .wrapper .container .flip-card.mantalltee {
  /* L'homme avec un long t-shirt */
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: mantalltee;
}

section:nth-of-type(2) .wrapper .container .flip-card.mantalltee .flip-card-inner .flip-card-front {
  background-image: url("../assets/man_longshirt_front.jpg");
}

section:nth-of-type(2) .wrapper .container .flip-card.mantshirt {
  /* L'homme avec un t-shirt */
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: mantshirt;
}

section:nth-of-type(2) .wrapper .container .flip-card.mantshirt .flip-card-inner .flip-card-front {
  background-image: url("../assets/man_shirt.jpg");
}

section:nth-of-type(2) .wrapper .container .flip-card.hoodie {
  /* L'homme avec un hoodie */
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: manhoodie;
}

section:nth-of-type(2) .wrapper .container .flip-card.hoodie .flip-card-inner .flip-card-front {
  background-image: url("../assets/man_hoodie_back.jpg");
}

section:nth-of-type(2) .wrapper .container .flip-card.girlwhiteshirt {
  /* La femme avec un chandail blanc */
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: girlwhiteshirt;
}

section:nth-of-type(2) .wrapper .container .flip-card.girlwhiteshirt .flip-card-inner .flip-card-front {
  background-image: url("../assets/girl_whiteshirt_front.jpg");
}

section:nth-of-type(2) .wrapper .container .flip-card.girlblackshirt {
  /* La femme avec un chandail noir */
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: girlblackshirt;
}

section:nth-of-type(2) .wrapper .container .flip-card.girlblackshirt .flip-card-inner .flip-card-front {
  background-image: url("../assets/girl_shirt_front.jpg");
}

section:nth-of-type(2) .wrapper .container .flip-card.coat {
  /* La femme avec un manteau */
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: girlcoat;
}

section:nth-of-type(2) .wrapper .container .flip-card.coat .flip-card-inner .flip-card-front {
  background-image: url("../assets/girl_coat_back.jpg");
}

section:nth-of-type(2) .wrapper .container .flip-card:hover .flip-card-inner {
  /* on applique une rotation à la carte lorsque l'utilisateur la survolle */
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/* Section blogue */
section:nth-of-type(3) h3 {
  text-align: left;
}

section:nth-of-type(3) .articles {
  height: calc(100vh - 308px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section:nth-of-type(3) .articles article {
  background-color: white;
  color: black;
  width: 100%;
  height: 460px;
}

section:nth-of-type(3) .articles article:nth-of-type(2) {
  /* marges pour le deuxième article (centre) */
  margin: 0 30px;
}

section:nth-of-type(3) .articles article header {
  height: 39%;
  overflow: hidden;
  position: relative;
}

section:nth-of-type(3) .articles article header h4 {
  text-align: center;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  color: white;
  position: absolute;
  display: block;
  width: 100%;
  padding: 25px 0;
  margin: 0;
  bottom: 0;
}

section:nth-of-type(3) .articles article header img {
  width: 100%;
}

section:nth-of-type(3) .articles article .contenu {
  padding: 10px 15px;
  height: 39%;
  text-align: justify;
}

section:nth-of-type(3) .articles article .contenu img {
  /* vignette auteur */
  width: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

section:nth-of-type(3) .articles article .contenu p:nth-of-type(1) {
  /* paragraphe nom de l'auteur */
  margin: 6px 0 0;
  font-family: 'Merriweather', serif;
}

section:nth-of-type(3) .articles article .contenu p:nth-of-type(2) {
  /* paragraphe date */
  margin: 0 0 20px;
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 0.9rem;
}

section:nth-of-type(3) .articles article .contenu p:nth-of-type(3) {
  text-indent: 1.5em;
  line-height: 1.5;
}

section:nth-of-type(3) .articles article .contenu p a {
  color: black;
  text-decoration: underline;
}

section:nth-of-type(3) .articles article .contenu p a:hover {
  color: #3c3c3c;
}

section:nth-of-type(3) .articles article footer {
  text-align: center;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section:nth-of-type(3) .articles article footer a {
  background-color: black;
  text-decoration: none;
  padding: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

section:nth-of-type(3) .articles article footer a:hover {
  color: white;
  background-color: #252525;
}

/* Section contact */
section:nth-of-type(4) > input[type='radio'] {
  /* le input de type radio */
  display: none;
}

section:nth-of-type(4) > input[type='radio']:checked + label {
  background-color: #0075ff !important;
  color: white;
}

section:nth-of-type(4) > input[type='radio'] + label {
  /* le label du input de type radio */
  background-color: white;
  color: black;
  padding: 5px;
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  margin-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

section:nth-of-type(4) > input[type='radio'] + label:hover {
  /* effet de survol */
  background-color: #e6e6e6;
}

section:nth-of-type(4) input#message:checked ~ .bloc-contact {
  /* lorsque l'option message est sélectionnée */
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

section:nth-of-type(4) input#booking:checked ~ .bloc-contact {
  /* lorsque l'option booking est sélectionnée */
  -webkit-transform: translateX(-33.33%);
          transform: translateX(-33.33%);
}

section:nth-of-type(4) input#apropos:checked ~ .bloc-contact {
  /* lorsque l'option à propos est sélectionnée */
  -webkit-transform: translateX(-66.66%);
          transform: translateX(-66.66%);
}

section:nth-of-type(4) .bloc-contact {
  /* le bloc qui contient les 3 sections du formulaire de contact */
  margin-top: 15px;
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

section:nth-of-type(4) .bloc-contact form h4 {
  margin-bottom: 5px;
}

section:nth-of-type(4) .bloc-contact form div.question {
  margin: 5px 0;
  position: relative;
}

section:nth-of-type(4) .bloc-contact form input {
  display: block;
  border: none;
  border-bottom: 1px solid gray;
  background: none;
  color: white;
}

section:nth-of-type(4) .bloc-contact form input:focus {
  outline: none;
}

section:nth-of-type(4) .bloc-contact form input[type='date']::-webkit-calendar-picker-indicator {
  /* pour mettre le calendrier en blanc */
  -webkit-filter: invert(1);
          filter: invert(1);
}

section:nth-of-type(4) .bloc-contact form input[type='radio'] {
  /* afficher les input radio sur la même ligne */
  display: inline-block;
  margin-right: 5px;
}

section:nth-of-type(4) .bloc-contact form input[type='submit'], section:nth-of-type(4) .bloc-contact form input[type='reset'] {
  color: black;
  display: inline;
  background: white;
  padding: 10px;
  margin: 20px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

section:nth-of-type(4) .bloc-contact form input[type='submit']:hover, section:nth-of-type(4) .bloc-contact form input[type='reset']:hover {
  background: #afaeae;
}

section:nth-of-type(4) .bloc-contact form textarea {
  display: block;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  width: 60%;
  color: white;
}

section:nth-of-type(4) .bloc-contact form textarea:focus {
  outline: none;
}

section:nth-of-type(4) .bloc-contact form select {
  display: block;
  background-color: black;
  color: white;
  padding: 5px;
  margin: 3px 0;
  border-radius: 5px;
}

section:nth-of-type(4) .bloc-contact form select:focus {
  outline: none;
}

section:nth-of-type(4) .bloc-contact form option {
  color: white;
}

section:nth-of-type(4) .bloc-contact form label {
  color: gray;
}

section:nth-of-type(4) .bloc-contact form label i {
  margin-right: 5px;
}

section:nth-of-type(4) .bloc-contact form input#booking-autre:checked ~ label[for='booking-venue-other'] {
  display: inline;
}

section:nth-of-type(4) .bloc-contact form input#booking-autre:checked ~ input#booking-venue-other {
  display: block;
}

section:nth-of-type(4) .bloc-contact form input#booking-venue-other,
section:nth-of-type(4) .bloc-contact form label[for='booking-venue-other'] {
  display: none;
}

section:nth-of-type(4) .bloc-contact form.message,
section:nth-of-type(4) .bloc-contact form.booking,
section:nth-of-type(4) .bloc-contact div.apropos {
  /* les sections du bloc contact */
  width: calc(100% / 3);
}

section:nth-of-type(4) .bloc-contact form.message h3,
section:nth-of-type(4) .bloc-contact form.booking h3,
section:nth-of-type(4) .bloc-contact div.apropos h3 {
  text-align: left;
}

section:nth-of-type(4) .bloc-contact form.booking .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section:nth-of-type(4) .bloc-contact form.booking .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5%;
  width: calc(85% / 3);
}

section:nth-of-type(4) .bloc-contact form.booking .row .col:last-of-type {
  /* pas de marge à droite pour le dernier */
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  /* Responsiveness: lorsque la largeur du viewport ne dépasse pas 1200px */
  section {
    width: 90vw;
    margin: 0 5vw;
  }
}

@media screen and (max-width: 980px) {
  /* Responsiveness: lorsque la largeur du viewport ne dépasse pas 980px */
  nav a {
    margin: 0 30px;
  }
  nav .nav-logo {
    margin: 0 35px;
  }
}
/*# sourceMappingURL=style.css.map */